-- DropIndex
DROP INDEX "daily_balances_date_key";

-- AlterTable
ALTER TABLE "daily_balances" ADD COLUMN     "merchant_id" TEXT NOT NULL;

-- CreateIndex
CREATE UNIQUE INDEX "daily_balances_merchant_id_date_key" ON "daily_balances"("merchant_id" ASC, "date" ASC);

-- CreateIndex
CREATE INDEX "daily_balances_merchant_id_idx" ON "daily_balances"("merchant_id" ASC);

